body {
  background-color: rgb(111, 189, 242);
}

html {
  min-width: 300px;
}

hr {
  border: 2px solid #1ab2a8;
}

h1 {
  text-align: center;
  color: #0171c4;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #0171c4;
}

.container {
  background-color: rgb(220, 242, 240);
  border: rgb(26, 178, 168) solid 2px;
  border-radius: 50px;
  font-weight: 600;
  margin: 0 auto;
}

.weekday {
  background-color: rgb(185, 234, 230);
  border: rgb(26, 178, 168) solid 2px;
  border-radius: 50px;
  font-weight: 600;
  padding: 0 40px 0 20px;
  margin: 0 auto;
  width: 100%;
}

.date {
  padding: 3px;
  color: #0171c4;
  padding-bottom: 10px;
}

.dailytemp {
  color: #0171c4;
  color: #59b1f3;
  font-size: 20px;
  font-weight: 500;
}

.col {
  color: #0171c4;
  padding: 0px 75px;
}

.col-6 {
  color: #1ab2a8;
  font-size: 50px;
  text-align: center;
}

small {
  font-size: 20px;
}

.sunMain-icon {
  color: #1ab2a8;
  font-size: 120px;
  font-weight: 700;
}

.cloudShowers-icon,
.cloud-icon,
.cloudSun-icon,
.sun-icon {
  color: #0171c4;
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

input[type="search"] {
  background-color: rgb(185, 234, 230);
  border: rgb(26, 178, 168) solid 3px;
  border-radius: 50px;
  font-weight: 600;
  padding: 5px;
  color: #0171c4;
}

input[type="submit"] {
  background-color: rgb(185, 234, 230);
  border: rgb(26, 178, 168) solid 3px;
  border-radius: 50px;
  color: #0171c4;
  font-weight: 700;
  padding: 5px;
}
button {
  background-color: rgb(185, 234, 230);
  border: rgb(26, 178, 168) solid 3px;
  border-radius: 50px;
  color: #0171c4;
  font-weight: 700;
  padding: 5px;
  top: 5px;
  position: relative;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #59b1f3;
  color: #dcf2f0;
}

.units {
  color: rgb(26, 178, 168) solid 3px;
  position: relative;
}

a {
  color: #1ab2a8;
  font-size: 20px;
  position: relative;
}

strong {
  font-size: 50px;
}
